<h1 class="ember-animated-headline--rotate-1">
  <span class="ember-animated-headline__static-content">{{staticContent}}</span>
  <span class="ember-animated-headline__dynamic-options-container">
    <b class="ember-animated-headline__dynamic-option ember-animated-headline__dynamic-option--visible">Pizza</b>
    <b class="ember-animated-headline__dynamic-option">Peace</b>
    <b class="ember-animated-headline__dynamic-option">Potatoes</b>
  </span>
</h1>
