<span class="ember-animated-headline">
  <span class="ember-animated-headline__dynamic-options-container">
    <span class="ember-animated-headline__dynamic-option ember-animated-headline__dynamic-option--visible">{{firstOption}}</span>
    {{#each restOptions as |opt|}}
      <span class="ember-animated-headline__dynamic-option">{{opt}}</span>
    {{/each}}
  </span>
</span>
